.data-table {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

table {
  border: 2px solid black;
}

th {
  border-bottom: 1px solid rgb(76, 75, 77);
  text-align: left;
  width: 50%;
}

td {
  text-align: left;
  border-bottom: 1px solid rgb(172, 168, 176);
}

.url-div {
  border-right: 1px solid rgb(172, 168, 176);
}